@font-face {
   font-family: 'Proxima Nova Regular';
   font-display: swap;
   src: url('file:///C:/Users/Axilleas/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-06-06_135034/fonts/Proxima%20Nova%20Regular/font.woff');
}
